.containerAnuncio{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.containerAnuncio .anuncioHorizontal{
    background-color: aqua;
    height: 100px;
    width: 80%;
    margin: auto;
}

.anuncioVertical{
    width: 12%;
    position: absolute;
    height: 70vh;
    background-color: aqua;
    right: 50px;
    top: 50vh;
}


@media screen and (max-width:1200px) {

}