.containerAnuncio{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerAnuncio .anuncioHorizontal{
    background-color: aqua;
    height: 100px;
    width: 80%;
    margin: auto;
}


@media screen and (max-width:1200px) {

}