/* .calendario3{
    background-color: #00000088;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* 
.containerCalendario3{
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 340px;
    gap: 20px;
}

.mes {
    flex: 1;
    height: 340px;
}

.containerCalendario3 .mes h2{
    font-family: baloo;
    color: #175163;
    width: 100%;
    text-align: left;
    margin-left: 25px;
}

.calendario-header {
    padding: 20px;
    text-align: center;
    background-color: #007bff;
    color: white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.calendario-header h2 {
    font-size: 1.5em;
    margin: 0;
}

.calendario-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    padding: 10px;
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.day:hover {
    background-color: #cfdeee;
}

.empty-day {
    height: 40px;
    width: 40px;
}

.weekday-header {
    text-transform: uppercase;
    font-weight: bold;
    color: #495057;
}


.weekday-header:last-child,
.day:last-child {
    border-right: none;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-container button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    margin: 0 10px;
}

.button-container button:hover {
    color: #007bff;
}

.selected, .rango {
    background-color: rgb(186, 218, 113);
    color: #fff;
}

.iconoMesAnterior{
    width: 25px;
    height: 25px;
    transform: rotate(90deg);
}

.iconoSiguienteMes{
    width: 25px;
    height: 25px;
    transform: rotate(-90deg);
}

   */