/* Contenedor principal horizontal */
.containerOpcionesRapidas {
    margin-top: 20px;
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 10px;
    scrollbar-width: none; /* Oculta scroll en Firefox */
}


.opcion-activa {
    color: #061c43 !important;
    border-bottom: 3px solid #061c43;
  }
  

/* Estilos generales de las opciones */
.containerOpcionRapidaEscapadas,
.containerOpcionRapidaExperiencias,
.containerOpcionRapidaCualquierDestino,
.containerOpcionRapidaPlayas,
.containerOpcionRapidaChollos {
    padding: 5px 15px;
    border: none;
    background: transparent;
    min-width: 19%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: #999; /* Gris por defecto */
    font-family: opensans-normal;
    font-size: 15px;
    transition: 0.3s;
    flex-shrink: 0;
    border-bottom: 3px solid transparent;
}

/* Iconos */
.containerOpcionRapidaEscapadas img,
.containerOpcionRapidaExperiencias img,
.containerOpcionRapidaCualquierDestino img,
.containerOpcionRapidaPlayas img,
.containerOpcionRapidaChollos img {
    width: 25px;
    height: 25px;
}

/* Hover */
.containerOpcionRapidaEscapadas:hover,
.containerOpcionRapidaExperiencias:hover,
.containerOpcionRapidaCualquierDestino:hover,
.containerOpcionRapidaPlayas:hover,
.containerOpcionRapidaChollos:hover {
    cursor: pointer;
    color: #061c43;
}

/* Elemento activo */
.opcion-activa {
    color: #061c43 !important;
    border-bottom: 3px solid #061c43;
}

/* Responsivo */
@media screen and (max-width: 1100px) {
    .containerOpcionRapidaEscapadas,
    .containerOpcionRapidaExperiencias,
    .containerOpcionRapidaCualquierDestino,
    .containerOpcionRapidaChollos,
    .containerOpcionRapidaPlayas {
        min-width: 19%;
        margin-bottom: 10px;
        font-size: 12px;
        height: 25px;
    }

    .containerOpcionesRapidas {
        flex-wrap: nowrap;
        margin-bottom: 0px;
    }
    
}
