.containerResultadosViaje{
    width: 1100px;
    margin: auto;
    margin-bottom: 20vh;
}

.containerResultadosViajeDiv{
    width: 100%;
    display: flex;
    gap: 25px;
    justify-content: space-between;
}





@media screen and (max-width:1100px) {
    .containerResultadosViaje{
        width: 100%;
    }

    .containerResultadosViaje{
        margin-bottom: 0px;
    }
}