.containerDescripcionPrecio{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.precioDescripcion{
    color: #061c43;
    font-size: 26px;
    font-family: noto-italic;
    margin-bottom: -20px;
}

.vuelosDescripcion{
    text-align: center;
    margin-bottom: 50px;
}

.esloganDescripcion{
    width: 100%;
    color: #F88888;
    font-size: 30px;
    text-align: center;
    font-family: campton;
    margin: 50px 0px -30px;
}


@media screen and (max-width:768px) {
    .esloganDescripcion{
        width: 90%;
        padding: 20px;
    }
}